export(fit_climniche)
export(fit_climniche_raster)
export(fit_climniche_terra)
export(climniche_summary_figure_data)
export(niche_metric)
export(niche_potential)
export(niche_radius)
export(plot_climniche_map)
export(plot_climniche_maps)
export(plot_climniche_exposure)
export(plot_climniche_distribution)
export(plot_climniche_report)
export(plot_climniche_summary_figure)
export(plot_climniche_variable_contribution)
export(climniche_table)
export(climniche_summary)
export(climniche_report)
export(write_climniche_report)
export(boundary_exceedance)
export(niche_percentile)
export(variable_contribution)
export(simulate_climniche)
importFrom(methods,is)
importFrom(methods,slot)
importFrom(methods,slotNames)
S3method(summary,climniche_fit)
S3method(plot,climniche_fit)
S3method(print,climniche_report)
S3method(print,climniche_summary)
